#import sickbeard
#from sickbeard.providers.generic import GenericProvider
#set global $title="Config - Seedbox Download"
#set global $header="Seedbox Download"

#set global $sbPath="../.."

#set global $topmenu="config"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")
#if $varExists('header') 
	<h1 class="header">$header</h1>
#else 
	<h1 class="title">$title</h1>
#end if
<script type="text/javascript" src="$sbRoot/js/configSeedboxDownload.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/config.js?$sbPID"></script>
<script type="text/javascript" charset="utf-8">
<!--
\$(document).ready(function(){

});
//-->
</script>

<div id="config">
<div id="config-content">

<form id="configForm" action="saveSeedboxDownload" method="post">

            <div id="config-components">
                <ul>
                	<li><a href="#core-component-group1">General Settings</a></li>
                	<!--
                	<li><a href="#core-component-group2">Configure Transfer Protocol</a></li>
                	//-->
                </ul>
                
                <div id="core-component-group1" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>General Settings</h3>
                        <p>This feature enables you to retrieve automatically the files you downloaded on a remote seedbox (or VPS) locally.</p>
                        <p>Configure the general settings here.</p>
                    </div>

               <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" name="seedboxdownload_enabled" id="seedboxdownload_enabled" #if $sickbeard.SEEDBOX_DOWNLOAD_ENABLED == True then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="seedboxdownload_enabled">
                                <span class="component-title">Enable Seedbox Download</span>
                                <span class="component-desc">If disabled, nothing will be done.</span>
                            </label>
                        </div>
						
						<div class="field-pair">
                            <input type="checkbox" name="seedboxdownload_delete_remote_files" id="seedboxdownload_delete_remote_files" #if $sickbeard.SEEDBOX_DOWNLOAD_DELETE_REMOTE_FILES == True then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="seedboxdownload_delete_remote_files">
                                <span class="component-title">Delete files on Seedbox after successful transfer.</span>
                                <span class="component-desc">Failed or incomplete transfer will leave the file intact on the seedbox. The removal is done when the download completes, and only if the file size matches locally and on the seedbox. Empty directories will be removed as well if they contained downloaded files.</span>
                            </label>
                        </div>

						<div class="field-pair">
                            <input type="checkbox" name="seedboxdownload_automove_in_postprocess_dir" id="seedboxdownload_automove_in_postprocess_dir" #if $sickbeard.SEEDBOX_DOWNLOAD_AUTOMOVE_IN_POSTPROCESS_DIR == True then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="seedboxdownload_automove_in_postprocess_dir">
                                <span class="component-title">Move downloaded files to Sickbeard post-process directory</span>
                                <span class="component-desc">This should be enabled if you want to automate the whole process. Post-Process should be enabled as well. If disabled, files will stay in the landing directory. TODO : not implemented</span>
                            </label>
                        </div>
                        						
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Check Frequency</span>
                                <input type="text" name="seedboxdownload_check_frequency" value="$sickbeard.SEEDBOX_DOWNLOAD_CHECK_FREQUENCY" size="5" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Time in minutes between checks for new files on the seedbox.</span>
                            </label>
                        </div>
                        
                        
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Landing directory</span>
                                    <input type="text" name="seedboxdownload_landing_dir" id="seedboxdownload_landing_dir" value="$sickbeard.SEEDBOX_DOWNLOAD_LANDING_DIR" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">The directory where Sick Beard will download the seedbox files, before moving them to the post-process directory (if enabled).</span>
                                </label>
                            </div>


                        <div class="clearfix"></div>
                        <input type="submit" class="btn config_submitter" value="Save Changes" /><br/>

                    </fieldset>
                </div><!-- /component-group1 //-->
<!-- 
 
            </div><!-- /config-components //-->

</form>
</div></div>
<div class="clearfix"></div>
<script type="text/javascript" charset="utf-8">
<!--
    jQuery('#config-components').tabs();
    jQuery('#seedboxdownload_landing_dir').fileBrowser({ title: 'Select Landing Directory' });

//-->
</script>
#include $os.path.join($sickbeard.PROG_DIR,"data/interfaces/default/inc_bottom.tmpl")
